.btn {
  font-size: 1.4rem;
}
.btn.mat-button {
  font-size: 1.4rem;
  line-height: 2rem;
  border-radius: .4rem;
  padding: 1rem 3rem;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 500;
  &:active {
    //box-shadow: none;
    //border: none;
  }
  &:not(:disabled):not(.disabled):active:focus {
    //box-shadow: none;
    //border: none;
  }
  &:disabled {
    //box-shadow: none;
    //border: none;
    cursor: not-allowed;
  }
}
//sizes
.btn.mat-button.btn-small {
  font-size: 1.2rem;
  padding: .2rem 1.6rem;
  min-width: auto;
}
.btn.mat-button.btn-large {
  font-size: 1.6rem;
  padding: 1.6rem 3.4rem;
}

@mixin btn-style($color, $light-color, $dark-color, $text-color, $ripple-color) {
  background-color: $color;
  color: $app-light-color;
  @include mat-ripple-theme($ripple-color);
  .mat-button-focus-overlay {
    background-color: rgba($light-color, .12);
    color: $text-color;
  }
  &:active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $dark-color;
    color: $text-color;
  }
  &:disabled {
    background-color: $light-color;
    color: $dark-color;
  }
}

.custom-mat-purple-theme .btn.btn-default {
  @include btn-style(mat-color($my-theme-primary, 700),
          rgba(mat-color($my-theme-primary, 700), .4),
          mat-color($my-theme-primary, 900),
          $app-light-color,
          mat-color($my-theme-primary, 700));
  background-color: rgba(mat-color($my-theme-primary, 700), 0);
  color: mat-color($my-theme-primary, 700);
}
.custom-mat-purple-theme .btn.btn-primary {
  @include btn-style(mat-color($my-theme-primary, 700),
          mat-color($my-theme-primary, 300),
          mat-color($my-theme-primary, 900),
          $app-light-color,
          mat-color($my-theme-primary, 300));
}
.custom-mat-purple-theme .btn.btn-success {
  @include btn-style($app-green-color,
          rgba($app-green-color, .4),
          $app-green-color--dark,
          $app-light-color,
          $app-light-color);
}
.custom-mat-purple-theme .btn.btn-info {
  @include btn-style($app-blue-color,
          rgba($app-blue-color, .4),
          $app-blue-color--dark,
          $app-light-color,
          $app-light-color);
}
.custom-mat-purple-theme .btn.btn-warning {
  @include btn-style($app-yellow-color,
          rgba($app-yellow-color, .4),
          $app-yellow-color--dark,
          $app-light-color,
          $app-light-color);
}
.custom-mat-purple-theme .btn.btn-danger {
  @include btn-style($app-secondary-color,
          rgba($app-secondary-color, .4),
          $app-secondary-color--dark,
          $app-light-color,
          $app-light-color);
}
