<!--<div class="app-page-layout container-fluid">-->
  <!--<app-sidebar class="app-sidebar app-page-layout__sidebar cover" [ngClass]="{'open': expandSidebar}">-->
    <!--&lt;!&ndash;sidebar <button (click)="toggleSidebar()">sidebar</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<app-sidebar></app-sidebar>&ndash;&gt;-->
  <!--</app-sidebar>-->
  <!--<div class="app-page-layout__wrapper">-->
    <!--<header class="app-page-layout__header">-->
      <!--header <button (click)="toggleSidebar()">sidebar</button>-->
    <!--</header>-->
    <!--<main class="app-page-layout__container page-container">content</main>-->
    <!--<footer class="app-page-layout__footer">footer</footer>-->
  <!--</div>-->
<!--</div>-->

<div class="root-page-layout container-fluid custom-mat-purple-theme">
  <router-outlet></router-outlet>
</div>

