@import "../global-variables";

.auth-layout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $app-shadow-light-color;
  .auth-layout__container {
    position: relative;
    flex: 1 1;
    max-width: 50rem;
    box-shadow: 0 0 1rem $app-shadow-color;
    background-color: $app-light-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $app-m-radius;
  }
  .auth-layout__form {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .auth-layout__header,
  .auth-layout__body,
  .auth-layout__actions {
    flex: 1;
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .auth-layout__header {
    background: $app-primary-color;
    box-shadow: 0 .2rem .4rem $app-primary-color;
    color: $app-shadow-color;
    border-top-left-radius: $app-m-radius;
    border-top-right-radius: $app-m-radius;
  }
  .auth-layout__body {
    justify-content: space-between;
  }
  .auth-layout__actions {}

  // no use. shit still yellow
  //.auth-layout__input.cdk-text-field-autofill-monitored:-webkit-autofill {
  //  background-color: $app-light-color !important;
  //}
}
