// colors

$app-primary-color: #303952;
$app-primary-light-color: #596275;
$app-orange-color: #f19066;
$app-orange-light-color: #f3a683;
$app-yellow-color: #f5cd79;
$app-orange-light-color: #f7d794;
$app-red-color: #e15f41;
$app-red-light-color: #e77f67;
$app-blue-color: #546de5;
$app-blue-light-color: #778beb;
$app-green-color: #079992;
$app-green-light-color: #38ada9;

$app-shadow-dark-color: #ddd;
$app-shadow-color: #eee;
$app-shadow-light-color: #efefef;
$app-light-color: #fff;


// sizes
$app-l-radius: 1.2rem;
$app-m-radius: .6rem;
$app-s-radius: .3rem;

