@import '~@angular/material/theming';

//typography

// colors

$app-black-color: #000;
$app-shadow-aaa-dark-color: #aaa;
$app-shadow-bbb-dark-color: #bbb;
$app-shadow-dark-color: #ddd;
$app-shadow-color: #eee;
$app-shadow-light-color: #efefef;
$app-light-color: #fff;

$app-rose-color: #e91e63;
$app-primary-color: #9c27b0;
$app-primary-color--dark: #7b1fa2;
$app-secondary-color: #f44336;
$app-secondary-color--dark: #d32f2f;
$app-blue-color: #00bcd4;
$app-blue-color--dark: #099bc1;
$app-green-color: #4caf50;
$app-green-color--dark: #298f3e;
$app-yellow-color: #ff9800;
$app-yellow-color--dark: #d27d00;


// sizes
$app-l-radius: 1.2rem;
$app-m-radius: .6rem;
$app-s-radius: .3rem;
$app-page-header-height: 6rem;


// always include only once per project
@include mat-core();
// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat-palette($mat-light-blue, 700, 300, 900);
$my-theme-accent: mat-palette($mat-purple);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme(
  $my-theme-primary,
  $my-theme-accent,
  $my-theme-warn
);

// specify theme class eg: <body class="custom-mat-purlpe-theme"> ... </body>
.custom-mat-purple-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-theme);
}

//ripple effect for buttons
@mixin mat-ripple-theme($color) {
  .mat-ripple-element {
    background-color: rgba($color, .4);
  }
}
